<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link th:href="@{/Css/Login.css}" rel="stylesheet" type="text/css"/>
		<title>Login Form</title>
	</head>
	<body>
		<section class="vh-100">
			<hr>
			<div class="containercs"> 
				<div class="container-fluid h-custom">
					<div class="row d-flex justify-content-center align-items-center h-100">
				      	<div class="col-md-9 col-lg-6 col-xl-5">
				        	<img src="https://longvan.net/hinhanh/tintuc/cloudcomputing.jpg" class="img-fluid" alt="Sample image">
				      	</div>
				      	<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
				        	<form th:object="${user}" th:action="@{loginn}" th:method="POST" autocomplete="off"> 
				        		<p th:class="er" th:utext="${message}"></p>
				          		<hr> 
				          		<div class="form-outline mb-4 req">
				           			<label th:text="Username" th:for="username"></label>
				            		<input name="username" type="text" class="form-control form-control-lg" placeholder="Enter Username" />
				            		<p th:class="er" th:utext="${mess3}"></p>
				          		</div>
				
					          	<div class="form-outline mb-3 req">
					          		<label th:text="Password" th:for="pass"></label>
					            	<input name="pass" type="password" class="form-control form-control-lg" placeholder="Enter password" />
					            	<p th:class="er" th:utext="${mess2}"></p>
					          	</div>
					
					          	<div class="d-flex justify-content-between align-items-center">
					            	<div class="form-check mb-0">
						              <input class="form-check-input me-2" type="checkbox" />
						              <label class="form-check-label" for="form2Example3">Remember me</label>
					            	</div>
					            	<a href="#!" class="text-body">Forgot password?</a>
					          	</div>
					
					          	<div class="text-center text-lg-start mt-4 pt-2">
						            <input type="submit" class="btn btn-success form-control" value="Login"/>
						            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/loggit/register"
						                class="link-danger">Register</a></p>
					          	</div>
					          	<hr class="my-4">
				        	</form> 
				      	</div>
				    </div>
				 </div>
			</div>  
		</section>
	</body>
</html>